<h1>購入商品の情報を入力</h1>
<p>※ゲームソフトのタイトルとジャンルを入力してください</p>
<%= form_with model:@game, local: true do |f| %>
  <p><%= f.label :name, "作品名" %> <%= f.text_field :name %></p>
  <p><%= f.label :genre, "ジャンル" %> <%= f.text_field :genre %></p>
  <%= f.submit "登録"%>
<% end %>

